body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Light Theme */
body.light-theme {
  --bg-color: #f4f3f1;
  --text-color: #000000;
  --primary-color: #007bff;
  --bar-bg: #f0f0f0;
  --icon-color: #333;
}

/* Dark Theme */
/* body.dark-theme {
  --bg-color: #010032;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
  --bar-bg: #1e1e1e;
  --icon-color: #f9f9f9;
} */

